@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background: black;
}

::-webkit-scrollbar {
    display: none;
}

.about-container {
    display: flex;
    margin: 80px 13vw 0 18vw;
    padding-top: 60px;    
}


.aboutMe-text{
    text-align: justify;
}

 .profile-photo {
    margin-left: 50px;
    height: fit-content;
    padding: 0;
} 

.profile-photo .heading {
    font-size: 22px;
    font-weight: 600;
    margin-top: 100px;
    color: #00A6FB; /* Cool Blue */
}

 .profile-photo .img {
    width: 100%;
    height: 120%;
    z-index: -3;
} 
.about-container .name {
    line-height: 85px;
    position: absolute;
    right: 6.5vw;
    padding-top: 75px;
    width: 110px;
    overflow-wrap: break-word;
    color: #00A6FB; /* Cool Blue */
    text-transform: uppercase;
    z-index: 0;
    font-size: 100px;
    font-family: 'Intro', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    background: -webkit-linear-gradient(-86deg, #00D2FF 5%, #0084D6 53%, #0067A3 91%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    background-clip: text;
    color: black;
}

.about-container .aboutMe-text {
    font-size: 18px;
    font-weight: 200;
    color: #fff;
    height: fit-content;
}

.aboutMe-text span {
    color: #00A6FB; /* Cool Blue */
}

.about-container .aboutMe-text h3 {
    color: #fff;    
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
}

.about-container .aboutMe-text .resume {
    color: #00A6FB; /* Cool Blue */
    border-bottom: 2.5px solid #00A6FB;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    font-weight: 800;
}

.about-container .aboutMe-text .resume:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 1150px) {
    .about-container .aboutMe-text {
        font-size: 16px;
        text-align: justify;
    }
    .about-container .name {
        font-size: 80px;
        width: 80px;
        line-height: 70px;
        right: 8vw;
    }
}

@media screen and (max-width: 925px) {
    .about-container {
        flex-direction: column;
        align-items: center;
    }

    .heading, .about-container .name {
        display: none;
    }

    .about-container .aboutMe-text {
        text-align: justify;
    }

    .img {
        display: none;
        margin-top: 50px;
        max-width: 400px;
    }
}

@media screen and (max-width: 750px) {
    .about-container {
        margin-left: 9vw;
        margin-top: 0;
        padding-top: 70px;
    }
}
