@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background: black;
}

::-webkit-scrollbar {
    display: none;
}

ul {
    list-style: none;
}

.home .content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 22vw;
    margin-bottom: 50px;
}

.home .content .wrapper {
    width: 100%;
}

.home .content .name {
    white-space: nowrap;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    height: fit-content;
    width: fit-content;
    padding-left: 5px;
}

.home .content .staticTitle {
    font-size: 100px;
    font-weight: 500;
    color: #fff;
    display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

.home .content .staticTitle .hrLine {
    border-bottom: 3px solid rgba(0, 166, 251, 0.6); /* Cool Blue */
    margin-left: 20px;
    width: 20vw;
}

.home .content .dynamicTitle {
    font-size: 100px;
    font-weight: 500;
    line-height: 100px;
    width: fit-content;
}

.home .content .dynamicTitle li {
    width: 100%;
    z-index: -1;
}

@keyframes slider {
    0%   {width: 0%; }
    50% {width: 42%; }
    100% {width: 0%;}
}

@keyframes fadeText {
    0%   {opacity: 0;}
    100% {opacity: 0;}
}

.home .content .dynamicTitle li span {
    white-space: wrap;
    background-image: linear-gradient(to right, #00A6FB, #0084D6, #0067A3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
}

.home .content .dynamicTitle li span::before {
    content: '';
    width: 100%;
    height: 20%;
    z-index: -1;
}

.mask .bg {
    height: 80vh;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

@media screen and (max-width: 950px) {
    .mask .bg{
        display: none;
    }

    .home .content .staticTitle {
        font-size: 90px;
    }

    .home .content .dynamicTitle {
        font-size: 90px;
    }
}

@media screen and (max-width: 750px) {
    .home .content{
        align-items: center;
        padding: 0 12vw;
    }
    .home .content .name {
        font-size: 20px;
        font-weight: 600;
        line-height: 60px;
    }

    .home .content .staticTitle {
        font-size: 12vw;
    }

    .home .content .staticTitle .hrLine {
        width: 22vw;
    }

    .home .content .dynamicTitle {
        font-size: 12vw;
        line-height: 60px;
    }

    .hire {
        font-size: 16px;
    }
}

.down-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color:#E3F2FD;
    animation: bounce 1.5s infinite;
  }
  
  /* Smooth bouncing effect */
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }
  